<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Change Password</title>
</head>
<body>
  <h1>Change User Passwaord</h1>
  <form action="" method="POST" novalidate>
    {% csrf_token %}
    {% if form.non_field_errors %}
      {% for error in form.non_field_errors %}
        <small>{{error}}</small><br><br>
      {% endfor %}
    {% endif %}    
    {% for fm in form %}
       <div>
        {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
      </div><br>
    {% endfor %}
    <input type="submit" value="save">
  </form>
  <br><a href="/profile/"><button>Profile</button></a>
</body>
</html>