<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Detail Page</title>
</head>
<body>
  <h1>Detail of {{name}} </h1>
  <form action="" method="POST">
    {% csrf_token %}
     {% for fm in form %}
    <div>
      {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
    </div><br>
  {% endfor %}
  <input type="submit" value="Update">
  </form>
  <a href="{% url 'profile' %}"><button>Profile</button></a><br><br>
</body>
</html>