<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <style>
    .success{
      color: red;
    }
  </style>
</head>
<body>
  <h1>Welcome {{name}}</h1>
  {% if messages %}
      {% for message in messages %}
        <small {% if message.tags %} class="{{message.tags}}"{% endif %}>{{name}} your {{message}}</small>
        {% endfor %}<br>
  {% endif %}
  <h3>List of Users</h3>
  {% if users != None %}
    <ul>
      {% for user in users %}
        <a href="{% url 'details' user.id %}"><li>{{user}}</li></a>
      {% endfor %}
    </ul>
  {% endif %}
  <form action="" method='POST'>
    {% csrf_token %}
     {% for fm in form %}
    <div>
      {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
    </div><br>
    {% endfor %}
    <input type="submit" value="Update">
  </form>
  <br><a href="{% url 'logout' %}"><button>Logout</button></a> <br><br>
  <a href="{% url 'changepass' %}"><button>Change Password </button></a><br><br>
</body>
</html>