<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up Page</title>
</head>
<body>
  <h1>Create Your Account</h1><br><br>
  <form action="" method="POST" novalidate>
    {% csrf_token %}
    {% for fm in form %}
      {{fm.label_tag}} {{fm}} <small>{{fm.errors|striptags}}</small>
      <br><br>
    {% endfor %}
    <input type="submit" value="SignUp">
  </form>
    <br><a href="{% url 'login' %}"><button>Login</button></a>
  {% if messages %}
    {% for message in messages %}
      <small {% if message %} class = "{{message}}" {% endif %} >{{message}}</small>
    {% endfor %}
  {% endif %}
</body>

</html>